<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Product</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Add Product</h1>
    <form th:action="@{/products/add}" th:object="${productDto}" method="post">
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" id="code" th:field="*{code}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>
        <div class="form-group">
            <label for="costPrice">Cost Price</label>
            <input type="number" step="0.01" id="costPrice" th:field="*{costPrice}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('costPrice')}" th:errors="*{costPrice}">Cost Price Error</div>
        </div>
        <div class="form-group">
            <label for="criticalStock">Critical Stock</label>
            <input type="number" step="1" id="criticalStock" th:field="*{criticalStock}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('criticalStock')}" th:errors="*{criticalStock}">Critical Stock Error</div>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>




    </form>
</div>
</body>
</html>